.clickable-row {
    cursor: pointer;
}

.navbar-right {
    margin: -55px 0px 0px;
}

.alert{
    margin-top:20px;
}

h1{
    margin-bottom: 30px;
}

.h1-index{
	float:left;
}

hr{
    border-top: 1px dotted #ff000f;
    margin: 30px 0px 30px 0px;
}

.page-header{
    background:#4c4d53;
    min-height:90px;
    border-bottom: none;
}

.nav{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right:auto;
}

.text-info{
	color:#999;
}

.btn-link, -btn-link:focus{
	color:#e24b3e;
}

.btn-link:hover{
	color:#c92618;
}

/* a little for for smaller resolutions */
@media (min-width: 1140px) {
    .nav {
        width: 1140px;
    }
}

.dropdown-head{
    top: -45px;
    right: 10px;
}

.nav-tabs > li {
    top:48px;
}

.nav-tabs > li > a:hover {
    color: #555;
}

.nav-tabs {
    border-bottom: 0px;
}

img {
    margin:10px;
    float:left;
}

.nav-tabs a {
    color: #fff;
    font-weight:bold;
}

.text-primary {
    color: #e24b3e;
}

.bg-primary {
    background-color: #e24b3e;
}

.panel-default > .panel-heading{
    background: #4c4d53;
    color:#fff;
}

.glyphicon{
    color: #a9a9a9;
}

.alert-danger .glyphicon{
    color: #d9534f;
}

.alert-success .glyphicon{
    color: #5cb85c;
}

.btn-primary{
    background: #e24b3e;
    border:0px;
    /*margin: 10px 0px 10px 0px;*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background:#c92618;
}

.btn-default{
    background: #e0e0e0;
    /*
    border:0px;
    margin: 10px 0px 10px 0px;
    */
}

#delete-confirm-dialog .btn-default, #delete-confirm-dialog .btn-primary {
    margin-bottom: 0;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    background:#cccccc;
}

.btn-margin{
	margin-top: 10px;
}

.edit{
    background:url(../images/picto-edit.png) no-repeat;
    min-width:22px;
    min-height:22px;
}

.delete{
    background:url(../images/picto-delete.png) no-repeat;
    min-width:22px;
    min-height:22px;
}

.change-password{
    background:url(../images/picto-changePassword.png) no-repeat;
    min-width:22px;
    min-height:22px;
}

.zc-active{
    background:url(../images/active.png) no-repeat;
    min-width:22px;
    min-height:22px;
}

.zc-inactive{
    background:url(../images/inactive.png) no-repeat;
    min-width:22px;
    min-height:22px;
}

.zc-adult{
    background:url(../images/adults.png) no-repeat;
    min-width:22px;
    min-height:22px;
}

.zc-kid{
    background:url(../images/kids.png) no-repeat;
    min-width:22px;
    min-height:22px;
}

.zc-trainer{
    background:url(../images/trainer.png) no-repeat;
    min-width:22px;
    min-height:22px;
}

.table-user tbody a, .table-user tbody input, .table-exam tbody a, .table-exam tbody input, .table-seminar tbody a, .table-seminar tbody input{
    display:block;
    float:left;
    margin-right:20px;
    border:0px;
}

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover{
    background-color: #e24b3e;
}

#editModal .delete {
    border: none;
    margin-left: -50px;
}

html {
    overflow-y: scroll;
}

.zento-calendar{
    margin-top: 20px;
    width:100%;
    min-width: 600px;
    min-height: 500px;
    border-collapse: collapse;
    border: 1px solid lightgray;
    table-layout: fixed;
}

.zc-header{
    border: 1px solid lightgray;
    background: #4c4d53;
    color:#fff;
    text-align: center;
}

.zc-other-month{
    color: lightgray;
}

.zc-day{
    height: 100px;
    width: 15%;
    border: 1px solid lightgray;
    text-align: right;
    vertical-align: text-top;
}

.zc-day:hover{
    background-color:#eeeeee;
    cursor:pointer;
}

.zc-content{
    background:#2C9688;
}

.zc-event{
    background:#7f8c8d;
    border:1px solid #7f8c8d;
    text-align: center;
    color:black;
    margin: 2px 5px 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zc-event-left{
    background:#7f8c8d;
    border:1px solid #7f8c8d;
    text-align: center;
    color:black;
    margin: 2px 0 2px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.zc-event-middle{
    background:#7f8c8d;
    border:1px solid #7f8c8d;
    text-align: center;
    color:black;
    margin: 2px 0 2px 0;
}

.zc-event-right{
    background:#7f8c8d;
    border:1px solid #7f8c8d;
    text-align: center;
    color:black;
    margin: 2px 5px 2px 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.zc-event-training{
    background:#3498db;
    border:1px solid #3498db;
}

.zc-event-seminar{
    background:#27ae60;
    border:1px solid #27ae60;
}

.zc-event-exam{
    background:#d35400;
    border:1px solid #d35400;
}

.zc-event-birthday{
    background:#f1c40f;
    border:1px solid #f1c40f;
    text-align: center;
    color:black;
    margin: 2px 5px 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.zc-content:hover{
    cursor:pointer;
    background:#30786E;
}

.zc-today{
    background-color: rgba(255, 143, 0, 0.45);
}

.zc-unthemed{
	background-color:#EBF2F1;
}

.zc-mail{
    max-width: 400px;
}

.table-2cols td {
    width: 50%;
}

body, body.modal-open {
    padding-right: 0 !important;
}

body {
    font-family: "Bitstream Vera Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#appointment-show-dialog .row div {
    padding-top: 7px;
    margin-bottom: 0px;
    line-height: 1.42857143;
}

#appointment-show-dialog div:first-child {
    text-align: right;
    font-weight: 700;
}

#calendar .fc-right{
	margin-top:20px;
}

@media (max-width: 1140px) {
    .page-header{
        min-height: auto;
    }

    .nav{
        padding-left: 0;
        padding-right: 0;
    }

    .dropdown-head{
        top: 0;
    }

    .navbar-right {
        margin: 0px 0px 0px;
    }
}

/* navbar for small resolutions */
@media (max-width: 710px) {
    #zento-logo-link {
        display: none;
    }
    .nav-tabs > li {
        top:0;
    }
}

@media (max-width: 425px) {
    .dropdown-head {
        top: 0;
    }

    .nav-tabs > li {
        float: none !important;
        top: 0 !important;
    }

    .nav-tabs > li > a {
        border-radius: 0;
    }
}

#appointment-tooltip {
    display: block;
    z-index: 500;
}

#appointment-tooltip .title {
    font-size: 18px;
    font-weight: bold;
    color: #2C9688;
}

#appointment-tooltip .col-md-4 {
    padding-left: 0;
}

#appointment-tooltip .popover-content {
    line-height: 24px;
}

#appointment-tooltip .popover-controls {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    border-top: 1px solid #ebebeb;
    text-align: right;
}

#appointment-tooltip .popover-controls a {
    display:inline-block;
}

.zento-result-color-first {
    height: 20px;
    width: 100%;
    min-width: 40px;
    padding: 7px 0 7px 0;
    border: solid 1px lightgray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.zento-result-color-second {
    height: 6px;
    width: 100%;
}
.result-color {
    height: 20px;
    width: 20px;
    float: left;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.zc-red{
    color: #2c3e50;
}

/* Wenn zwei .pull-right Buttons hintereinander sind, dann soll diese Klasse
 * einen kleinen Abstand zwischen diese bringen. */
.btn-space-right {
    margin-right: 5px;
}

/* Da einige Boostrap-Elemente einen Rahmen haben, diese für unser Design
 * jedoch nicht vorgesehen haben, nutzen wir eine Klasse um dies zu unterbinden. */
.btn-no-border {
    border: none;
}

.list-head-input {
    font-weight: normal;
    border: 1px solid #FFF;
}

.list-head-input:hover {
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
}