.clickable-row {
    cursor: pointer;
}

.navbar-right {
    margin: -55px 0px 0px;
}

.dropdown-head{
	top: -45px;
	right: 10px;
}

.alert{
	margin-top:20px;
}

h1{
	margin-bottom: 30px;
}

hr{
	border-top: 1px dotted #ff000f;
	margin: 30px 0px 30px 0px;
}

.page-header{
	background:#4c4d53;	
	min-height:90px;
	border-bottom: none;	
}

.nav{
	padding-left: 15px;	
	padding-right: 15px;	
	margin-left: auto;		
	margin-right:auto;	
	width:1140px;	
}

.nav-tabs > li {
	top:48px;	
}

.nav-tabs > li > a:hover {
	color: #555;	
}

.nav-tabs {
  border-bottom: 0px;
}

img {
	margin:10px; 
	float:left;	
}

.nav-tabs a {
  color: #fff;
	font-weight:bold;
}

.text-primary {
  color: #e24b3e; 
}

.bg-primary {
  background-color: #e24b3e;
}

.panel-default > .panel-heading{
	background: #4c4d53;
	color:#fff;
}

.glyphicon{
	color: #a9a9a9;
}

.alert-danger .glyphicon{
	color: #d9534f;
}

.alert-success .glyphicon{
	color: #5cb85c;
}

.btn-primary{
	background: #e24b3e;
	border:0px;
	margin: 10px 0px 10px 0px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background:#c92618;
}

.btn-default{
	background: #e0e0e0;
	border:0px;
	margin: 10px 0px 10px 0px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
	background:#cccccc;
}

.edit{
	background:url(../images/picto-edit.png) no-repeat;
	min-width:22px;
	min-height:22px;
}

.delete{
	background:url(../images/picto-delete.png) no-repeat;
	min-width:22px;
	min-height:22px;
}

.change-password{
	background:url(../images/picto-changePassword.png) no-repeat;
	min-width:22px;
	min-height:22px;
}

.table-user tbody a, .table-user tbody input, .table-exam tbody a, .table-exam tbody input, .table-seminar tbody a, .table-seminar tbody input{
	display:block;
	float:left;
	margin-right:20px;
	border:0px;
}

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover{
	background-color: #e24b3e;
}

#editModal .delete {
	border: none;
	margin-left: -50px;
}

html {
	overflow-y: scroll;
}

.fc-day:hover{
	background-color:#eeeeee;
}

.fc-content:hover{
	cursor:pointer;
}

.table-2cols td {
	width: 50%;
}

body, body.modal-open {
	padding-right: 0 !important;
}

#appointment-show-dialog .row div {
	padding-top: 7px;
	margin-bottom: 0px;
	line-height: 1.42857143;
}

#appointment-show-dialog div:first-child {
	text-align: right;
	font-weight: 700;
}